<%- include('../partials/header') %>
<form id="new-form" action="/drinks" method="POST">
    <div class="text-inputs">
        <label>Choose Your Tea Base!</label>
        <div class="tea-base">
        <select name="teaBase">
            <option value="Black Tea">Black Tea</option>   
            <option value="Green Tea">Green Tea</option>
            <option value="Oolong Tea">Oolong Tea</option>
            <option value="Water Base">Water(no Caffeine)</option>
        </select>
    </div>
    <label>Is this a Milk Tea?</label>
    <select name="dairyOption">
        <option value="milk">Milk</option>
        <option value="non-dairy">Non-Dairy Creamer</option>
        <option value="no-milk">No Milk</option> 
    </select>
    <label>Select Your Toppings!</label>
        <section class="toppings">
            <div>
                <p>Boba</p>
                <input type="checkbox" name="toppings" value="boba">
            </div>
            <div>
                <p>Mini Boba</p>
                <input type="checkbox" name="toppings" value="mini boba">
            </div>
            <div>
                <p>Aiyu Jelly</p>
                <input type="checkbox" name="toppings" value="aiyu jelly">
            </div>
            <div>
                <p>Herb Jelly</p>
                <input type="checkbox" name="toppings" value="herb jelly">
            </div>
            <div>
                <p>Lychee Jelly</p>
                <input type="checkbox" name="toppings" value="lychee jelly">
            </div>
            <div>
                <p>Aloe Vera</p>
                <input type="checkbox" name="toppings" value="aloe vera">
            </div>
            <div>
                <p>Pudding</p>
                <input type="checkbox" name="toppings" value="pudding">
            </div>
            <div>
                <p>Salty Cheese Foam (Creama)</p>
                <input type="checkbox" name="toppings" value="creama">
            </div>                 
        </section>
        <label>What Makes This Drink <em>Spicy</em>?</label>
        <input type="text" name="customAddons" placeholder="taro flavoring, strawberry jam, etc."> 
        <label>Name Your Masterpiece!</label>
        <input type="text" name="title" placeholder="name your drink!"> 
        
    </div>
    <div>
        <label>Choose Your Icon!</label>
        <div class="Icon">
        <select name="img" >
            <option value="template">Choose Your Cup!</option>
            <option value="opt1">1</option>   
            <option value="opt2">2</option>
            <option value="opt3">3</option>
            <option value="opt4">4</option>
            <option value="opt5">5</option>
            <option value="opt6">6</option>
        </select>
        </div>
    </div>
    <input type="submit" value="Add Drink" id="Add">
</form>
<%- include('../partials/footer') %>