<link rel='stylesheet' href='/stylesheets/style.css' />

    
    <img src="https://ih1.redbubble.net/image.752291463.3194/poster,504x498,f8f8f8-pad,600x600,f8f8f8.u3.jpg" id="sad-boba">
    
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<h3><h3>OOPSIE WOOPSIE!! Uwu We make a fudgy wudgy!! A wittle freako boingo!<br> The code monkeys at our headquarters are working VEWY HAWD to fix this!</h3>
</h3>
<h4><%= error.stack %></h4>
