<%- include('./partials/header') %>
<main>
<h1>Tower of Bobalon</h1>
<img src="https://ctl.s6img.com/society6/img/4DWapWcqIAdTgT5nAqRgNhxVrWo/w_700/prints/~artwork/s6-original-art-uploads/society6/uploads/misc/67eba195a53242caa0f3136212d98070/~~/cute-love-heart-bubble-tea-prints.jpg">
</main>

<%- include('./partials/footer') %>