<%- include('./partials/header') %>
<main>
<h1>Tower of Bobalon</h1>
<img src="https://ctl.s6img.com/society6/img/4DWapWcqIAdTgT5nAqRgNhxVrWo/w_700/prints/~artwork/s6-original-art-uploads/society6/uploads/misc/67eba195a53242caa0f3136212d98070/~~/cute-love-heart-bubble-tea-prints.jpg">
<% if (user) { %>
<a href ="/drinks/new" id="begin">Create A Drink!</a>
<% } else { %>
<h1 id="secret">Unlock the Create feature by logging in!</h1>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Hi I'm Ej and I created this site</h1>
        <p class="Signup">I only created this modal to give a shameless plug so here's my <a href="https://www.twitch.tv/azn_coffeewafer" >Twitch</a></p>
    </div>
<% } %> 
</main>
<%- include('./partials/footer') %>