@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:#dadada;
  background: black;
  font-family: "Chewy"; 
  
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width:  80vh;
  background-image: url("https://media.istockphoto.com/vectors/seamless-pattern-bubble-tea-vector-id1177450328?k=20&m=1177450328&s=612x612&w=0&h=Y2HRebOfX0oilswdlr_ga-VxkZK7tcwk4gnMFQEO178=");
  background-repeat: repeat;
  background-position: center;
  margin-top: 10px;
  border-radius: 15px;
}
a {
  color: #00B7FF;
  
}
nav {
  display: flex;
  width: 80vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 35px;
  background-image: linear-gradient(to right, #be97be, #b8e2e0);
  border: 5px solid white;
  border-radius: 25px;
  text-shadow: 5px 5px 10px rgb(61, 61, 61);

  
}


.login img {
  height: 13px;

}
a {
  padding: 9px;
  text-decoration: none;
  color: #b8e2e0;
  font-size: 20px;
}
a:hover {
  padding: auto;
  border-bottom: 5px solid #b8e2e0;;
}
main > h1 {
  background-image: linear-gradient(to right, #be97be, #b8e2e0);
  color: white;
  text-align: center; 
  width: 300px;
  height: 50px;
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
  text-shadow: 5px 5px 10px rgb(61, 61, 61);
}
main > img {
  height: 300px;
  width: 300px;
  object-fit: none;
  border-radius: 50%
}
main > img:hover {
  animation: rotating 4s linear infinite;
}
.text-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main > h2, main > h3, main > h4 {
  color: black;
}
@keyframes rotating {
  from{
  transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}